@media(max-width:1200px){
    .bars{
        display: flex;
    }
    .navSystem{
        display: none !important;
    }
    .feats{
        display: none !important;
    }
    .Services{
        .container{
            .book{
                gap:25px;
            }
        }
    }
    
}
@media (max-width:992px) {
    .Services{
        .slider{
            .gallery{
                img{
                    width:30em;
                }
            }
        }
    }
    .glider{
        .container{
            .cards{
                
                .content{
                    transform: scale(1);
                    margin: 2px;
                }
            }
        }
    }
}
@media (max-width:767px) {
    .Services{
        .slider{
            .gallery{
                img{
                    width:15em;
                }
            }
        }
    }
    .glider{
        .container{
            .cards{
                flex-wrap: wrap;
                .content{
                    transform: scale(1);
                    margin: 20px;
                }
            }
        }
    }
    .splitter{
        margin-top: 15em;
    }
    .FeedBack{
        margin-top: 3em;
    }
}